@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

.gameloc {
  position: relative;
  overflow: hidden;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 900px;
  height: 600px;
  line-height: 50%;
  margin: auto auto auto;
  border: 0;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.centered-fixed {
  position: fixed;
  top: 1.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  /* Ensure it appears above other content if needed */
}

.duckmath-header {
  font-size: 2rem;
  color: red;
  text-align: center;
  margin-top: -5px;
  /* Adjust this value to move the text up */
}

.small-text {
  font-size: 1rem;
  color: white;
  text-align: center;
  margin-top: -5px;
  /* Adjust this value to move the text up */
}

.button1,
.button2,
.button3 {
  border: none;
  padding: 10px 14px;
  min-width: 4rem;
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Tilt Warp", sans-serif;
  margin-bottom: 1.5rem;
}

.button1 {
  background-color: #fff;
  color: #000;
  margin-top: -5px;
}

.button2 {
  background-color: #ff0000;
  color: #fff;
  letter-spacing: -1px;
}

.button3 {
  /*
    ? I chose 2 random colors (which can be changed), but imo it looks better with fewer colors
    ! it looks better as an animation with a maximum of 3 separate colors
  */
  background: linear-gradient(90deg, #f3f520, #59d102, #f3f520);
  background-size: 400%;
  animation: animation 7s cubic-bezier(0.75, 0.75, 0.75, 0.75) infinite;
}

.button1:hover,
.button2:hover,
.button3:hover {
  transform: scale(0.95);
}

.button1:active,
.button2:active,
.button3:active {
  transform: scale(0.9);
}

@keyframes animation {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

div.icon_image a img {
  border-radius: 1rem;
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
}

div.icon_image a img:hover {
  transform: scale(1.1);
}

div.icon_image a img:active {
  transform: scale(0.9);
}
