@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

.gameloc {
  position: relative;
  overflow: hidden;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  width: 900px;
  height: 600px;
  line-height: 50%;
  margin: auto auto auto;
}

@keyframes rainbow {
  0% { background-position: 0 50%; }
  100% { background-position: 100% 50%; }
}

.button3 {
  border: 2px solid transparent;
  padding: 10px 14px;
  min-width: 4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Tilt Warp", sans-serif;
  margin-bottom: 1.5rem;
  background: linear-gradient(90deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff, #ff0000);
  background-size: 800% 800%;
  animation: rainbow 3s ease infinite;
  background-color: #ffffff;
  color: black;
  margin-top: -5px;
}

.button1,
.button2 {
  border: none;
  padding: 10px 14px;
  min-width: 4rem;
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Tilt Warp", sans-serif;
  margin-bottom: 1.5rem;
}



.button1 {
  background-color: #ffffff;
  color: black;
  margin-top: -5px;
}

.button2 {
  background-color: #ff0000;
  color: white;
  letter-spacing: -1px;
}

.button1:hover,
.button2:hover {
  transform: scale(0.95);
}

.button1:active,
.button2:active {
  transform: scale(0.9);
}

.searchbar {
  padding: 10px 10px;
  font-family: "Nunito";
  font-size: 30px;
  font-weight: 800;
  width: 300px;
  height: 30px;
  border-radius: 10px;
  top: 0;
  margin-top: -10px;
  border: none;
  background: #333;
  outline: none;
  z-index: 2;
  color: white;
}

.rounded {
  border-radius: 1rem;
}

.expand {
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
}

.expand:hover {
  transform: scale(1.1);
}

.expand:active {
  transform: scale(0.9);
}

#amt_games {
  font-size: 60px;
}

/** Search Bar/Input */
.input:focus,
.input:hover {
  outline: none;
  border-color: rgba(252, 191, 73, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(252 191 73 / 10%);
}
