@font-face {

}
.gameloc {
    position: relative;
    margin: auto;
    display: grid;
    overflow: hidden;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    height: 600px;

}
.button1{
    background-color: #ffffff; /* Green */
    border: none;
    color: black;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Impact", sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1:hover {
    background-color: #ff0000;
    color: white;
}
