@font-face {

}
.gameloc {
    position: relative;
    display: grid;
    overflow: hidden;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    width: 900px;
    height: 600px;
    line-height: 50%;
    margin: auto auto -1%;
}
.button1{
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Impact", sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    white-space: nowrap;
    margin-top: -5px;

}
.button2{
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 10px;
    font-family: "Impact", sans-serif;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: -1px;
}

