.image-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* Style for the image */
.bottom-image {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #1f2028;
}

.main {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
}

#leaderboard {
  grid-area: 1 / 2 / 2 / 5;
  text-align: center;
  font-size: 100px;

  color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

#searchbar {
  border-radius: 10px;
  padding-left: 10px;
  height: 2rem;
  font-size: 1rem;
}

.searchbar {
  border-radius: 10px;
  padding-left: 10px;
  height: 2rem;
  font-size: 1rem;
}

.searchIcon {
  width: 30px;
  height: auto;
}

.blob {
  color: white;
  border: solid 1px silver;
  width: 10%;
  border-radius: 10px;
}
