@import url("https://fonts.googleapis.com/css?family=Urbanist:700|Josefin Sans:400");

/* CSS Colour Variables */
:root {
  --text: #fdf6dd;
  --background: #1f2029;
  --background-accent: #2b2c37;
  --primary: #ffd500;
  --secondary: #fdc500;
  --accent: #e29417;
}

body {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  background: var(--background) url("../img/bg.svg") repeat fixed center;
  font-family: "Josefin Sans";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Urbanist";
  font-weight: 700;
  color: var(--text);
  cursor: default;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.notbody {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #ffffff;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;
  background: #1f2029 url("../img/bg.svg") repeat fixed center;
  /* background shorthand  ===
    background-color: #1f2029;
    background: url("../img/bg.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
*/
}

.iframe {
  position: relative;
  color: #dddddd;
}

.icon_image {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  gap: 15px 15px;
  justify-content: center;
  order: 0;
  align-items: center;
}

.icon_image a {
  flex-wrap: wrap;
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
}

.icon_image a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon_image a figcaption {
  position: relative;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #d30000;
  font-size: 25px;
  font-weight: bold;
  font-family: "Impact", sans-serif;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  visibility: hidden;
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*line-height: 1px;*/
  margin-top: -30px;
  left: 50%;
  transform: translateX(-50%); /* Centers the figcaption horizontally */
  line-height: 150%;
  max-width: 100%;
}

.button {
  position: relative;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d30000;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-top: 25px; /* Adjust this value to get the desired amount of space */
}

.button:hover {
  background-color: #d30000;
}

.button:active {
  background-color: #d30000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-55 {
  margin-top: 15px;
  margin-bottom: 10px;
  align-self: center;
  background-color: var(--text);
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: var(--background-accent);
  cursor: pointer;
  display: inline-block;
  font-family: "Josefin Sans";
  font-size: 3rem;
  line-height: 70px;
  min-width: 400px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  padding-bottom: 1px;
  font-weight: 400;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.github {
  min-width: 322.5px;
}

.btns {
  transition: all 0.2s ease;
}

.btns:hover {
  transform: scale(1.1);
}

.play-now {
  padding-left: 128px;
  padding-right: 128px;
  margin-top: 0px;
}

.recommended {
  min-width: 500px;
}

.recommended-btns {
  text-decoration: none;
}

.rounded {
  border-radius: 15px;
}

.disclaimer {
  font-size: 20px;
  line-height: 165%;
  margin-top: 3rem;
}

.footer {
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 99%;
  bottom: 0;
  margin: 0;
}

.title {
  font-size: 7.5rem;
  margin: 0;
  color: var(--primary);
}

a {
  text-decoration: none;
}

ins {
  display: block;
  text-align: center;
}
