body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.7;
    color: #FFFFFF;
    overflow-x: hidden;
    letter-spacing: 0.2px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    scroll-behavior: smooth;
    background-color: #1f2029;
    /* Create the parallax scrolling effect */
    background: url(https://raw.githubusercontent.com/SickleEdge/ubg100/main/assets/img/bg.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}