@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Tilt+Warp&display=swap");

:root {
  --primary-color: red; /* Deep Blue for primary elements */
  --secondary-color: red; /* Soft White for secondary elements */
  --accent-color: red; /* Vibrant Green for accents and buttons */
  --menu-background: #f2e8cf; /* Muted Navy for the menu background */
  --body-background: #bc4749; /* Very Light Gray for the body background */
  --segment-background: red; /* Off-White for card/segment backgrounds */
  --input-background: red; /* Soft Gray for input fields */
  --input-border: red; /* Light Blue Gray for input borders */
  --dropdown-background: red; /* Sky Blue for dropdowns */
}

body {
  background-image: url("../img/bg.svg");
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #fff;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  /* -webkit-transition: all 200ms linear; */
  /* transition: all 200ms linear; */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;

  /* background: #1f2029 url("../img/bg.svg") repeat fixed center; */
  margin: 0;
  position: relative;
}

.notbody {
  background-image: url("../img/snowflake.gif");
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #fff;
  overflow-x: hidden;
  letter-spacing: 0.2px;
  /* -webkit-transition: all 200ms linear; */
  /* transition: all 200ms linear; */
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  scroll-behavior: smooth;

  /* background: #1f2029 url("../img/bg.svg") repeat fixed center; */
}

.iframe {
  position: relative;
  color: #fff;
}

.icon_image {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  gap: 15px 15px;
  justify-content: center;
  order: 0;
  align-items: center;
  width: 100%;
}

.icon_image a {
  flex-wrap: wrap;
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
}

.icon_image a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centered-fixed {
  position: fixed;
  top: 1.5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999; /* Ensure it appears above other content if needed */
}

.duckmath-header {
  font-size: 2rem;
  color: var(--input-border);
  text-align: center;
  margin-top: -5px; /* Adjust this value to move the text up */
}

.small-text {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-top: -5px; /* Adjust this value to move the text up */
}

.icon_image a figcaption {
  position: relative;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #ff0000;
  font-size: 25px;
  font-weight: 100;
  font-family: "Tilt Warp", "Montserrat", sans-serif;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  visibility: hidden;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 1rem;
  margin-top: -30px;
  left: 50%;
  transform: translateX(-50%); /* Centers the figcaption horizontally */
  line-height: 150%;
  max-width: 100%;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
}

.button {
  border: none;
  padding: 10px 14px;
  min-width: 4rem;
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 10px;
  margin: 4px 2px;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Tilt Warp", sans-serif;
  margin-bottom: 1.5rem;
  background-color: #fff;
  color: #000;
  margin-top: 2rem;
}

.button:hover {
  background-color: #ff0000;
  color: #fff;
  transform: scale(0.95);
}

.button:active {
  transform: scale(0.9);
}

.button-55 {
  margin-top: 15px;
  margin-bottom: 10px;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 3rem;
  line-height: 70px;
  min-width: 400px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.button-55.github {
  min-width: 320px;
  font-size: 45px;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.recommended-btns {
  text-decoration: none;
}

.disclaimer {
  font-size: 20px;
  line-height: 120%;
  margin-top: 3rem;
}

.footer {
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 99%;
  bottom: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*^ Streak.html */
.claim-streak {
  margin-top: 150px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 2rem;
  background-color: rgba(39, 48, 67, 0.5);
  color: #ff0000;
  border-radius: 1rem;
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.claim-streak:hover {
  transform: scale(0.95);
}

.claim-streak:active {
  transform: scale(0.925);
}

.streak-title {
  font-size: 7.5rem;
  margin: 0;
}

.streak-subtitle {
  font-size: 2.75rem;
  margin: 0;
  margin-top: -2.5rem;
  margin-bottom: -0.25rem;
}

#stats_div {
  margin-bottom: 2.5rem;
}

#stats_div {
  transform: scale(0);
  transition: transform 0.25s ease;
}

#stats_div.loaded {
  transform: scale(1);
}

.ad {
  width: 100%;
  display: compact;
}

.adsbygoogle {
  display: block;
  text-align: center;
}

/** Search Bar/Input */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
  margin-bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
}

.input {
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  box-shadow:
    0 0 0 1.5px var(--input-border),
    0 0 25px -17px var(--input-border);
  border: 0;
  border-radius: 12px;
  outline: none;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow:
    0 0 0 2.5px var(--input-border),
    0px 0px 25px -15px var(--input-border);
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px var(--input-border);
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* removes the X from search (Edge) */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* removes the X from search (Chrome) */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* removes the X from search (Firefox) */
input[type="search"]::-moz-search-clear,
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* removes the X from search (Safari) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.rounded {
  border-radius: 1rem;
}

.expand {
  transition: all 0.25s cubic-bezier(0.05, 0.75, 0.12, 0.97);
}

.expand:hover {
  transform: scale(1.1);
}

.expand:active {
  transform: scale(0.9);
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none;
}

#custom-scrollbar {
  position: fixed;
  right: 8px;
  top: 12px;
  bottom: 12px;
  width: 8px;
  height: calc(100vh - 24px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  z-index: 9999;
  transition: opacity 0.3s;
  opacity: 0;
}

#custom-scrollbar.visible {
  opacity: 1;
}

#custom-scrollbar .scrollbar-thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#custom-scrollbar .scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

@media only screen and (max-width: 720px) {
  *::-webkit-scrollbar {
    display: none;
  }
}

.no-scroll {
  margin-right: 26px;
}

.topnav.no-scroll {
  width: calc(98% - 26px);
}
