.white_text{
    background: black;
    color: white;
}
.title_text{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #ce0a0a;
    font-family: "Farisi", sans-serif;
}
.title_text_description{
    color: #dddddd;
    position: relative;
    font-size: 25px;
    font-family: "Arial", sans-serif;

}
.about_text{
    font-size: 20px;
    text-align: center;
    color: #dddddd;
}
.iframe{
    position: relative;
    color: #dddddd;
}
.icon_image{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 15px;

}
a {
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a img {
    display: block;
    max-width: 100%;
    height: auto;
}

.icon_image a figcaption{
    pointer-events: none;
    z-index: 1;
    visibility: hidden;
    position: relative;
    color: #D30000;
    font-size: 25px;
    font-weight: bold;
    font-family: "Impact", sans-serif;
    background-color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*line-height: 1px;*/
    margin-top: -30px;
    left: 50%; /* Centers the figcaption */
    transform: translateX(-50%); /* Centers the figcaption horizontally */
}

.bottom_text{
    position: absolute;
    text-align: center;
    bottom: 1%;
    left: 39%;
}

