@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.main_title_text{
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #ff0000;
    font-family: 'League Spartan', sans-serif;
    transform: translateX(-50%);
    line-height: 120%;

}


.title_text{
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #ff0000;
    font-family: 'League Spartan', sans-serif;
    transform: translateX(-50%);
    line-height: 120%;

}
.title_text_main{
    position: relative;
    top: 10%;
    left: 50%;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #ff0000;
    font-family: 'League Spartan', sans-serif;
    transform: translateX(-50%);
    line-height: 120%;

}


.title_text_description{
    color: #dddddd;
    position: relative;
    font-size: 25px;
    line-height: 130%;
    font-family: "Arial", sans-serif;
}

.recommended{
    position: absolute;
    top: 380%;
    left: 50%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    font-family: 'League Spartan', sans-serif;
    transform: translateX(-50%);
    line-height: 120%;
}

.image_description1stgame{
    text-decoration: none;
    position: absolute;
    display: block;
    color: #ff0000;
    font-family: 'Anton', sans-serif;
    border-radius: 10px;
    background: rgba(255,255,255);
    top: 17%;
    left: 27%;

}


.aboutandchangelog_title{
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'League Spartan', sans-serif;
    transform: translateX(-50%);
    line-height: 120%;
    border-radius: 10px;
    background: rgba(255,255,255,.2);
    padding: 20px;
}


.about_text {
    font-size: 20px;
    justify-content: center;
    color: #dddddd;
    line-height: 200%;
    font-family: "Arial", sans-serif;
    margin-inline-start: 0;
}


.bottom_text{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    vertical-align: bottom;
}
.controls {
    font-size: 10px;
    justify-content: center;
    color: #dddddd;
    line-height: 120%;
    font-family: "Arial", sans-serif;
    margin-inline-start: 0;

}

