.white_text{
    background: black;
    color: white;
}
.title_text{
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 80px;
}
.title_text_description{
    position: static;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 25px;
}
