.tooltip {
  visibility: visible;
}

.tooltiptext {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 16px;
  visibility: hidden;
  width: 290px;
  color: #c5283d;
  text-align: left;
  padding: 1px 2px;
  position: absolute;
  border: 3px dotted gray;
  border-radius: 2rem;
  left: -107px;
  top: 4rem;
  opacity: 0;
  transition: all 0.25s ease;
  line-height: 150%;
  pointer-events: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext:hover {
  visibility: hidden;
  opacity: 0;
}

.tag {
  position: absolute;
  width: auto;
  margin-left: 7px;
  margin-top: 4px;
}

.message {
  width: 100rem;
  margin-left: 2.33rem;
  padding-left: 10px;
}
